.toggle_button{
    background: transparent;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 5px;
    height: 60px;
    width: 100px;
}

.toggle_button:hover{
    font-size: 1.9em;
}

