.clean_card_text{
    text-decoration: none;
}

.home-card-controler :hover{
    border-bottom: 13px groove rgba(56,164,41,0.62);
    border-radius: 1px;
}

.home-card-controler img:hover{
    border-bottom: none;
    border-radius: 0px;
}

.home-card-controler p:hover{
    border-bottom: none;
    border-radius: 0px;
}

.home-card-controler h2:hover{
    border-bottom: none;
    border-radius: 0px;
}